///Varables 
$light-blue:  #C7F7FF;
$med-blue:    #89C0C9;
$dark-blue:   #3a5E63;

$light-brown: #C9A689;
$dark-brown:  #7C593C;

$light-grey:  #d4d4d4;
$dark-grey:   #222;


$main-font-family: "Josefin Sans", "Trebuchet MS", Helvetica, sans-serif;
$header-font-family: Cardo, "Palatino Linotype", "Book Antiqua", Palatino, serif;

$primaryFontSize: 1.414rem;

$otherForntSize: 16px;

$otherFontWeight: 400;


$breakpoint-small: 700px;
$breakpoint-small-greatest: 900px;

$breakpoint-med: 701px;
$breakpt-med-greatest: 900px;

$breakpt-lrg-greatest: 901px;
$breakpoint-lrg: 1400px;

$small: "all and (min-width:701px) and (max-width:900px)";
$med: "all and (min-width:901px) and (max-width: 1400px)";



$small: "all and (min-width:701px) and (max-width:900px)"
